.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-1 .u-group-1 {
  width: 765px;
  min-height: 654px;
  margin: 46px auto 45px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 55px 638px 0 7px;
}

.u-section-1 .u-text-3 {
  margin: -24px 462px 0 167px;
}

.u-section-1 .u-text-4 {
  margin: -24px 269px 0 332px;
}

.u-section-1 .u-text-5 {
  margin: -24px 120px 0 525px;
}

.u-section-1 .u-form-1 {
  height: 364px;
  width: 705px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 600px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 440px;
    margin-left: 145px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 247px;
    margin-left: 310px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 98px;
    margin-left: 503px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 420px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 350px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 157px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 8px;
    margin-left: 413px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 220px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 205px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 57px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}