{% extends "base.html" %}
{% block title %}Comentarios{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/Comentarios.css" media=" screen"> {% endblock %}
{% block contenido %}
<section class="u-clearfix u-gradient u-section-1" id="sec-8ca8">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-text u-text-default u-title u-text-1">¡Cuenta tu experiencia!</h1>
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-col">
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-image u-image-circle u-image-1" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h3 class="u-text u-text-default u-text-2">Titular de muestra</h3>
                  <h5 class="u-text u-text-default u-text-3">Titular de muestra</h5>
                  <p class="u-text u-text-4">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-image u-image-circle u-image-2" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h3 class="u-text u-text-default u-text-5">Titular de muestra</h3>
                  <h5 class="u-text u-text-default u-text-6">Titular de muestra</h5>
                  <p class="u-text u-text-7">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <div class="u-image u-image-circle u-image-3" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h3 class="u-text u-text-default u-text-8">Titular de muestra</h3>
                  <h5 class="u-text u-text-default u-text-9">Titular de muestra</h5>
                  <p class="u-text u-text-10">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
                <div class="u-container-layout u-container-layout-4">
                  <div class="u-image u-image-circle u-image-4" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h3 class="u-text u-text-default u-text-11">Titular de muestra</h3>
                  <h5 class="u-text u-text-default u-text-12">Titular de muestra</h5>
                  <p class="u-text u-text-13">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="calificacion" data-page-id="278110038" class="u-border-none u-btn u-button-style u-btn-1">Comentar</a>
  </div>
</section>
{% endblock %}