{% extends "base.html" %}
{% block title %}Habitacion{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/Habitacion.css" media=" screen"> {% endblock %}
{% block contenido %}
<section class="u-align-center u-clearfix u-grey-70 u-section-1" id="carousel_0af2">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-text u-text-1">Habitación modelo</h1>
    <p class="u-text u-text-2">Have you ever wished you could just make something appear? You know, some cough drops
      when you’re sick. That comfy chair you were eyeing at the mall. A pair of jeans to wear out tonight. Some
      delicious take-out food that won’t deliver. If only there were a pick-up and delivery service that could make
      your wish a reality. You’re in luck. Enter Taskers. They'll run all of your errands and deliver everything
      straight to your door.</p>
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
      <div class="u-gallery-inner u-gallery-inner-1">
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide" data-image-width="1280" data-image-height="853">
            <img class="u-back-image u-expanded"
              src="/static/img/5ddcd66b9058fecfb72636a3966199d1642d4036f3e068b21af427212c979997b8b0fc731c74be433a64cd3e6250057c7cdd73d1bee5ccea4c7397_1280.jpg">
          </div>
          <div class="u-over-slide u-shading u-over-slide-1">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide" data-image-width="1280" data-image-height="768">
            <img class="u-back-image u-expanded"
              src="/static/img/2dc5b95c039fe5f2b53e6398da53103981946f1da0e7f40bd2f503e3e72760688a3780f5993b23fac39df9549f6ee1dabc86e871ea2999b098a43d_1280.jpg">
          </div>
          <div class="u-over-slide u-shading u-over-slide-2">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide" data-image-width="1280" data-image-height="853">
            <img class="u-back-image u-expanded"
              src="/static/img/83c806c36e52cb954992b2178c713030d9f338075fe29f7b85f06d0af37d1891ce42df5a6db722b64668967e063602f6aae34cd0f3e570cae2b482_12801.jpg">
          </div>
          <div class="u-over-slide u-shading u-over-slide-3">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
      </div>
    </div>
    <a href="reserva" data-page-id="2106022927"
      class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-black u-text-hover-black u-btn-1">Reservar</a>
  </div>
</section>
<section class="u-clearfix u-grey-5 u-section-2" id="sec-0dcc">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-col">
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-image u-image-circle u-image-1" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h4 class="u-text u-text-default u-text-1">Titular de muestra</h4>
                  <p class="u-text u-text-2">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-image u-image-circle u-image-2" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h4 class="u-text u-text-default u-text-3">Titular de muestra</h4>
                  <p class="u-text u-text-4">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <div class="u-image u-image-circle u-image-3" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h4 class="u-text u-text-default u-text-5">Titular de muestra</h4>
                  <p class="u-text u-text-6">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
                <div class="u-container-layout u-container-layout-4">
                  <div class="u-image u-image-circle u-image-4" alt="" data-image-width="1280" data-image-height="853">
                  </div>
                  <h4 class="u-text u-text-default u-text-7">Titular de muestra</h4>
                  <p class="u-text u-text-default u-text-8">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="comentarios" data-page-id="705308118"
      class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-1">Más
      comentarios</a>
  </div>
</section>

{% endblock %}