{% extends "base.html" %}
{% block title %}Reserva{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/Reserva.css" media=" screen"> {% endblock %}
{% block contenido %}

<section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-806e">
  {% with messages = get_flashed_messages() %}
  {% if messages and not exito %}
  {%for message in messages %}
  <div class="alert alert-danger ">{{message}}</div>
  {% endfor%}
  {% endif %}
  {% if messages and exito %}
  {%for message in messages %}
  <div class="alert alert-success ">{{message}}</div>
  {% endfor%}
  {% endif %}
  {% endwith %}
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-white u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h3 class="u-text u-text-default u-text-1">¡Reserva tu habitación!</h3>
        <div class="u-form u-form-1">
          <form action="{{url_for('reserva')}}" method="POST" class="u-clearfix u-form-spacing-10  u-inner-form"
            source="custom" name="form" style="padding: 20px;">
            <div class="u-form-group u-form-group-6">
              <label for="llegada" class="u-label">Llegada</label>
              <input type="text" placeholder="DD/MM/YYYY" id="llegada" name="llegada"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="u-form-group u-form-group-7">
              <label for="salida" class="u-label">Salida</label>
              <input type="text" placeholder="DD/MM/YYYY" id="salida" name="salida"
                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-8">
              <label for="habi" class="u-label">Habitación</label>
              <div class="u-form-select-wrapper">
                <select id="habi" name="habi" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                  {% if lista %}
                  {% for i in lista %}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                  {% endif %}
                  {% if not lista %}
                  <option value="carga" class="text-danger">¡No hay habitaciones disponibles!</option>
                  {% endif %}
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                  <path fill="currentColor" d="M4 8L0 4h8z"></path>
                </svg>
              </div>
            </div>
            <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-9">
              <label for="numero" class="u-label">Número de personas</label>
              <div class="mb-3 u-form-select-wrapper">
                <select id="numero" name="numero" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                  <path fill="currentColor" d="M4 8L0 4h8z"></path>
                </svg>
              </div>
            </div>
            <div class="u-form-agree u-form-group u-form-group-10">
              <input type="checkbox" id="terminos" name="terminos" class="u-agree-checkbox">
              <label for="terminos" class="u-label">Acepto los términos y condiciones</label>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <input type="submit" value="Registrarme" class="u-btn u-btn-submit u-button-style">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}